MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=taskapp
MYSQL_USER=taskadmin
MYSQL_PASSWORD=your_app_password_here
SECRET_KEY=replace_with_a_random_secret
ECR_REGISTRY=377587329790.dkr.ecr.us-east-1.amazonaws.com
ECR_REPOSITORY=cloud-task-app
IMAGE_TAG=latest
